h1, p
{
	color: white;
	word-spacing: 2;

}

h1
{
	font-size: 45px;
	letter-spacing: 3;
}

#header
{
	margin-bottom: 50px;
}

#header > h1, h3
{
	color: white;
	text-align: center;
	letter-spacing: 20;
	text-transform: uppercase;
}

#anime
{
	width: 600px;
	text-align: center;
	margin: auto;
}

hr:nth-of-type(even)
{
	border-style: dashed;
}